<div>
    <h1>Bienvenidos{{ first_name }}</h1>
    {{#if isAdmin}}
        {{#each users}}
        <div>
            <p>nombre {{this.first_name}} - Email {{this.Email}}</p>
            <hr>
        </div>
        {{/each}}
    {{else}}
    <h2> No tienes permisos para ver el usuario</h2>
    {{/if}}
</div>

<script src="/static/assets/js/index.js" ></script>